body {
  font-family: Arial, sans-serif;
  background-color: #f7fafc;
}

.main-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background: #fff;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
